# ignore all node modules
node_modules

# ignore all of pdf files
*.pdf

# do not ignore pdf files in www/static
!src/www/static/**/*.pdf

# ignore con file
src/services/token/config/*.js
src/apiGateway/config/*.js
