
<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>campusShops console</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="https://v3.bootcss.com/assets/js/ie10-viewport-bug-workaround.js" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://v3.bootcss.com/examples/dashboard/dashboard.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="https://v3.bootcss.com/assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#" style="color: orange;">校园后台</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">返回</a></li>
            <li><a href="#">联系</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">现在 <span class="sr-only">(current)</span></a></li>
            <li><a href="#">报告</a></li>
            <li><a href="#">分析</a></li>
            <li><a href="#">出口</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">项目</a></li>
          </ul>
          <ul class="nav nav-sidebar">
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header" style="color: orange;">商家简略销售信息</h1>

          <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="/imgs/service1.png" width="200" height="200" class="img-responsive" alt="1">
              <h4>1</h4>
              <span class="text-muted">1</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="/imgs/service2.png" width="200" height="200" class="img-responsive" alt="2">
              <h4>2</h4>
              <span class="text-muted">2</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="/imgs/service3.png" width="200" height="200" class="img-responsive" alt="3">
              <h4>3</h4>
              <span class="text-muted">3</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="/imgs/service4.png" width="200" height="200" class="img-responsive" alt="4">
              <h4>4</h4>
              <span class="text-muted">4</span>
            </div>
          </div>

          <h2 class="sub-header">Section title</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>时间</th>
                  <th>销售额</th>
                  <th>商家</th>
                  <th>推荐指数</th>
                  <th>评价</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1,001</td>
                  <td>1000</td>
                  <td>1号</td>
                  <td>5星</td>
                  <td>暂无</td>
                </tr>
                <tr>
                  <td>1,001</td>
                  <td>1050</td>
                  <td>2号</td>
                  <td>5星</td>
                  <td>暂无</td>
                </tr>
                <tr>
                  <td>1,001</td>
                  <td>2000</td>
                  <td>3号</td>
                  <td>4星</td>
                  <td>暂无</td>
                </tr>
                <tr>
                  <td>1,001</td>
                  <td>1000</td>
                  <td>4号</td>
                  <td>3星</td>
                  <td>暂无</td>
                </tr>
                <tr>
                  <td>1,001</td>
                  <td>400</td>
                  <td>5号</td>
                  <td>4星</td>
                  <td>暂无</td>
                </tr>
                <tr>
                  <td>1,001</td>
                  <td>300</td>
                  <td>6号</td>
                  <td>5星</td>
                  <td>暂无</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"><\/script>')</script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="https://v3.bootcss.com/assets/js/vendor/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="https://v3.bootcss.com/assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
