<!doctype html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/font-awesome.css">

    <title>campusShops</title>
    
    
    <style type="text/css">
    
        a{
            text-decoration: none;
            color: black;
        }
        a:hover{
            text-decoration: none;
            color: gray;
        }
        p{
            font-weight: 100;
        }
        span{
            font-weight: 100;
        }
        
        #headMessage{
            transition: all 2s;
        }
    </style>
</head>
<body>
    
    <div class="container-fluid">
        <div class="row">
        <div id="headMessage" class="col col-sm fixed-top" style="height: 40px; background-color :darkorange; text-align: center; line-height: 40px;">
            
            <blockquote class="blockquote text-center">
                <a href="/users/signInUp"><p class="mb-0" style="font-weight: 100;">欢迎你！！某某（注册/登录）</p></a>
            </blockquote> 
            
        </div>
        </div>
        
        <div class="row" style="margin-top: 40px;">
            <div class="col col-sm" style="max-height: 300px; overflow: hidden; padding: 0px;">
                <a href="##">
                <img style="width: 100%;" src="/static/imgs/indexBg1.png" class="img-fluid" alt="1">
                </a>
            </div>
        </div>
        
        <!-- 商家分类 -->
        
        <div class="row" style="margin-top: 10px;">
            <div class="col col-sm">

                <div class="text-center">
                    <a href="##">
                    <img style="height: 40px;" src="/static/imgs/service1.png" class="rounded" alt="...">
                    <p style="font-size: 0.88em; font-weight: 100;">本栋速购</p>
                    </a>
                </div>  

            </div>
            <div class="col col-sm">

                <div class="text-center">
                    <a href="##">
                    <img style="height: 40px;" src="/static/imgs/service2.png" class="rounded" alt="...">
                    <p style="font-size: 0.88em; font-weight: 100;">运动健身</p>
                    </a>
                </div>  

            </div>
            <div class="col col-sm">

                <div class="text-center">
                    <a href="##">
                    <img style="height: 40px;" src="/static/imgs/service3.png" class="rounded" alt="...">
                    <p style="font-size: 0.88em; font-weight: 100;">室内玩乐</p>
                    </a>
                </div>  

            </div>
            <div class="col col-sm">

                <div class="text-center">
                    <a href="##">
                    <img style="height: 40px;" src="/static/imgs/service4.png" class="rounded" alt="...">
                    <p style="font-size: 0.88em; font-weight: 100;">电影演出</p>
                    </a>
                </div>  

            </div>
            
        </div>
        <div class="row" style="margin-top: 0px;">
            <div class="col col-sm">

                <div class="text-center">
                    <a href="##">
                    <img style="height: 40px;" src="/static/imgs/service5.png" class="rounded" alt="...">
                    <p style="font-size: 0.88em; font-weight: 100;">景点旅行</p>
                    </a>
                </div>  

            </div>
            <div class="col col-sm">

                <div class="text-center">
                    <a href="##">
                    <img style="height: 40px;" src="/static/imgs/service6.png" class="rounded" alt="...">
                    <p style="font-size: 0.88em; font-weight: 100;">生活服务</p>
                    </a>
                </div>  

            </div>
            <!--  预留  -->
            <div class="col col-sm">

                <div class="text-center">
                    <img style="height: 40px;" src="" class="rounded" alt="ccdyd">
                    <p style="font-size: 0.88em; font-weight: 100;">成成的打印店</p>
                </div>  

            </div>
            <div class="col col-sm">

                <div class="text-center">
                </div>  

            </div>
            
        </div>
        
        <!-- 商家 -->
        
        <div class="row">
            
            <div class="col col-sm">
                <div style="text-align: center;" class="dropdown show">
                  <a style="background-color:white; color: black; border: none; border-bottom: 1px solid black;border-radius: 0px;" class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    商家分类
                  </a>

                  <div style="border: none; color: red;" class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="#">酒水饮料</a>
                    <a class="dropdown-item" href="#">电影剧场</a>
                    <a class="dropdown-item" href="#">野炊出行</a>
                  </div>
                </div>
                
            </div>
            
            <div class="col col-sm">
                <div style="text-align: center;" class="dropdown show">
                  <a style="background-color:white; color: black; border: none; border-bottom: 1px solid black;border-radius: 0px;" class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    智能排序
                  </a>

                  <div style="border: none; color: red;" class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="#">销售最高</a>
                    <a class="dropdown-item" href="#">配送最快</a>
                    <a class="dropdown-item" href="#">评分最高</a>
                  </div>
                </div>
                
            </div>
            
            
            <div class="col col-sm">
                <div style="text-align: center;" class="dropdown show">
                  <a style="background-color:white; color: black; border: none; border-bottom: 1px solid black;border-radius: 0px;" class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    类型
                  </a>

                  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="#">配送</a>
                    <a class="dropdown-item" href="#">自提</a>
                  </div>
                </div>
                
            </div>
        </div>
        
        <!--  

        
            计算商家数量 每三个商家一个   row box；
            
            row 结构：
            
            row{
                col-md;col-sm-12;
                col-md;col-sm-12;
                col-md;col-sm-12;
            }
            
            结构不能更改


        -->

        <div class="row">   
            
        <!--
            // 商家缩写 bs
            商家logo：bsLogo
            商家名称：bsName
            商家月售单数:bsSellTotal
            商家平均配送时间：bsAveTime
            商家起送费用：bsBeginCast
            商家配送费用：bsDispatchCast

            商家星级1：bsStar1
            商家星级2:bsStar2
            商家星级3：bsStar3
            商家星级4：bsStar4
            商家星级5：bsStar5

            商家推送信息：bsPushMessage
            
        -->
            
        <!--  商家列表  -->
            
            <!--  一个完整的商家展示信息 -->
            <div class="col-md col-12" style="margin-top: 10px;">
            
                <div class="row">
                    <!-- logo -->
                    <div class="col-md col-12">
                        <a href="##">
                            <img id="bsLogo" style="width: 100%; height: 200px;" class="rounded" src="/static/imgs/indexBg3.png" alt="商家logo"/>
                        </a>
                    </div>
                    
                    <!-- content -->
                    <div class="col-md col-12">
                        <span><h5 style="padding-top: 5px;" id="bsName">黄山学院25-26栋服务店</h5></span>
                        
                        <!--商家评级展示-->
                        
                        <span id="bsStar1" style="color: red;" class="icon-star"></span>
                        <span id="bsStar2" style="color: red;" class="icon-star"></span>
                        <span id="bsStar3" style="color: red;" class="icon-star"></span>
                        <span id="bsStar4" style="color: red;" class="icon-star"></span>
                        <span id="bsStar5" style="color: blue;" class="icon-star"></span>
                        
                        <!--商家评级结束-->
                        <span>月售</span>
                        <span id="bsSellTotal">1000单</span>
                        <span id="bsAveTime" style="float: right">1分钟</span>
                        <p></p>
                        <span>起送价</span>
                        <span id="bsBeginCast">3元</span>
                        <span>&nbsp;|&nbsp;</span>
                        <span>配送费</span>
                        <span id="bsDispatchCast">10元</span>
                        <p></p>
                        <span id="bsPushMessage">店铺首单满1000元减1元，四月大酬宾</span>
                    </div>
                </div>
            
            </div>
            <!--  商家展示   end  -->
            
            
            
            <!--  一个完整的商家展示信息 -->
            <div class="col-md col-12" style="margin-top: 10px;">
            
                <div class="row">
                    <!-- logo -->
                    <div class="col-md col-12">
                        <a href="##">
                            <img id="bsLogo" style="width: 100%; height: 200px;" class="rounded" src="/static/imgs/indexBg2.png" alt="商家logo"/>
                        </a>
                    </div>
                    
                    <!-- content -->
                    <div class="col-md col-12">
                        <h5 style="padding-top: 5px;" id="bsName">黄山学院25-26栋服务店</h5>
                        
                        <!--商家评级展示-->
                        
                        <span id="bsStar1" style="color: red;" class="icon-star"></span>
                        <span id="bsStar2" style="color: red;" class="icon-star"></span>
                        <span id="bsStar3" style="color: red;" class="icon-star"></span>
                        <span id="bsStar4" style="color: red;" class="icon-star"></span>
                        <span id="bsStar5" style="color: blue;" class="icon-star"></span>
                        
                        <!--商家评级结束-->
                        <span>月售</span>
                        <span id="bsSellTotal">1000单</span>
                        <span id="bsAveTime" style="float: right">1分钟</span>
                        <p></p>
                        <span>起送价</span>
                        <span id="bsBeginCast">3元</span>
                        <span>&nbsp;|&nbsp;</span>
                        <span>配送费</span>
                        <span id="bsDispatchCast">10元</span>
                        <p></p>
                        <span id="bsPushMessage">店铺首单满1000元减1元，四月大酬宾</span>
                    </div>
                </div>
            
            </div>
            <!--  商家展示   end  -->
            
            
            <!--  一个完整的商家展示信息 -->
            <div class="col-md col-12" style="margin-top: 10px;">
            
                <div class="row">
                    <!-- logo -->
                    <div class="col-md col-12">
                        <a href="##">
                            <img id="bsLogo" style="width: 100%; height: 200px;" class="rounded" src="/static/imgs/indexBg3.png" alt="商家logo"/>
                        </a>
                    </div>
                    
                    <!-- content -->
                    <div class="col-md col-12">
                        <h5 style="padding-top: 5px;" id="bsName">黄山学院25-26栋服务店</h5>
                        
                        <!--商家评级展示-->
                        
                        <span id="bsStar1" style="color: red;" class="icon-star"></span>
                        <span id="bsStar2" style="color: red;" class="icon-star"></span>
                        <span id="bsStar3" style="color: red;" class="icon-star"></span>
                        <span id="bsStar4" style="color: red;" class="icon-star"></span>
                        <span id="bsStar5" style="color: blue;" class="icon-star"></span>
                        
                        <!--商家评级结束-->
                        <span>月售</span>
                        <span id="bsSellTotal">1000单</span>
                        <span id="bsAveTime" style="float: right">1分钟</span>
                        <p></p>
                        <span>起送价</span>
                        <span id="bsBeginCast">3元</span>
                        <span>&nbsp;|&nbsp;</span>
                        <span>配送费</span>
                        <span id="bsDispatchCast">10元</span>
                        <p></p>
                        <span id="bsPushMessage">店铺首单满1000元减1元，四月大酬宾</span>
                    </div>
                </div>
            
            </div>
            <!--  商家展示   end  -->
            
            <!-- end -->
        </div>
        <div class="row">   
            
        <!--
            // 商家缩写 bs
            商家logo：bsLogo
            商家名称：bsName
            商家月售单数:bsSellTotal
            商家起送费用：bsBeginCast
            商家配送费用：bsDispatchCast

            商家星级1：bsStar1
            商家星级2:bsStar2
            商家星级3：bsStar3
            商家星级4：bsStar4
            商家星级5：bsStar5

            商家推送信息：bsPushMessage
            
        -->
            
        <!--  商家列表  -->
            
            <!--  一个完整的商家展示信息 -->
            <div class="col-md col-12" style="margin-top: 10px;">
            
                <div class="row">
                    <!-- logo -->
                    <div class="col-md col-12">
                        <a href="##">
                            <img id="bsLogo" style="width: 100%; height: 200px;" class="rounded" src="/static/imgs/indexBg2.png" alt="商家logo"/>
                        </a>
                    </div>
                    
                    <!-- content -->
                    <div class="col-md col-12">
                        <h5 style="padding-top: 5px;" id="bsName">黄山学院25-26栋服务店</h5>
                        
                        <!--商家评级展示-->
                        
                        <span id="bsStar1" style="color: red;" class="icon-star"></span>
                        <span id="bsStar2" style="color: red;" class="icon-star"></span>
                        <span id="bsStar3" style="color: red;" class="icon-star"></span>
                        <span id="bsStar4" style="color: red;" class="icon-star"></span>
                        <span id="bsStar5" style="color: blue;" class="icon-star"></span>
                        
                        <!--商家评级结束-->
                        <span>月售</span>
                        <span id="bsSellTotal">1000单</span>
                        <span id="bsAveTime" style="float: right">1分钟</span>
                        <p></p>
                        <span>起送价</span>
                        <span id="bsBeginCast">3元</span>
                        <span>&nbsp;|&nbsp;</span>
                        <span>配送费</span>
                        <span id="bsDispatchCast">10元</span>
                        <p></p>
                        <span id="bsPushMessage">店铺首单满1000元减1元，四月大酬宾</span>
                    </div>
                </div>
            
            </div>
            <!--  商家展示   end  -->
            
            
            
            <!--  一个完整的商家展示信息 -->
            <div class="col-md col-12" style="margin-top: 10px;">
            
                <div class="row">
                    <!-- logo -->
                    <div class="col-md col-12">
                        <a href="##">
                            <img id="bsLogo" style="width: 100%; height: 200px;" class="rounded" src="/static/imgs/indexBg3.png" alt="商家logo"/>
                        </a>
                    </div>
                    
                    <!-- content -->
                    <div class="col-md col-12">
                        <h5 style="padding-top: 5px;" id="bsName">黄山学院25-26栋服务店</h5>
                        
                        <!--商家评级展示-->
                        
                        <span id="bsStar1" style="color: red;" class="icon-star"></span>
                        <span id="bsStar2" style="color: red;" class="icon-star"></span>
                        <span id="bsStar3" style="color: red;" class="icon-star"></span>
                        <span id="bsStar4" style="color: red;" class="icon-star"></span>
                        <span id="bsStar5" style="color: blue;" class="icon-star"></span>
                        
                        <!--商家评级结束-->
                        <span>月售</span>
                        <span id="bsSellTotal">1000单</span>
                        <span id="bsAveTime" style="float: right">1分钟</span>
                        <p></p>
                        <span>起送价</span>
                        <span id="bsBeginCast">3元</span>
                        <span>&nbsp;|&nbsp;</span>
                        <span>配送费</span>
                        <span id="bsDispatchCast">10元</span>
                        <p></p>
                        <span id="bsPushMessage">店铺首单满1000元减1元，四月大酬宾</span>
                    </div>
                </div>
            
            </div>
            <!--  商家展示   end  -->
            
            
            
            <!-- end -->
            
            <div class="col-md col-sm-12"></div>
        </div>
        
        
        
        
        
        <!--

            row end;

        -->
        
        
        
        
        <!--    footer    -->
        <footer style="height: 40px; line-height: 40px; text-align: center;  " class="row fixed-bottom">
            <div style="background-color: bisque;" class="col-md col">
                <a href="##"><p>快店</p></a>
            </div>
            <div style="background-color: aqua;" class="col-md col">
                <a href="##"><p>快店订单</p></a>
            </div>
            <div style="background-color:blue;" class="col-md col">
                <a href="##"><p>平台首页</p></a>
            </div>
            <div style="background-color:fuchsia;" class="col-md col">
                <a href="##"><p>我的</p></a>
            </div>
        </footer>
        
    </div>
    
    
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
    
    <script type="text/javascript">
        
        $(document).ready(function(){
          $(window).scroll(function () {
            if ($(window).scrollTop() != 0) {
                $("#headMessage").css("backgroundColor","blue");
            }
            else{
                $("#headMessage").css("backgroundColor","darkorange");
            }
         });
        }); 

    </script>
    
  
</body>

</html>